
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="/static/css/base.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
      $(document).ready(function() {
        $('[rel=tooltip]').tooltip();
      });
    </script>
    {% block script %}{% endblock %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">BReader <small>v2</small></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li {% if h %}class="active"{% endif %}><a href="/">Home</a></li>
            <li {% if "/show_starred" in url %}class="active"{% endif %}><a href="/show_starred">Starred</a></li>
            <li {% if "/feed" in url %}class="active"{% endif %}><a href="/feeds">Feeds</a></li>
            <li class="dropdown {% if "/account" in url %}active{% endif %}">
              <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ user }} <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/account"><span class="glyphicon glyphicon-cog"></span> My Account</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ logout }}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li {% if f|length == 0 %}class="active"{% endif %}><a href="/">Everything <span class="badge pull-right" id="ur">{{ total_unread_count }}</span></a></li>
            {% for feed in feeds %}
            {% if feed.name == feed.truncated_name() %}
            <li {% if f == feed.guid() %}class="active"{% endif %}><a href="/?f={{ feed.guid() }}">{{ feed.name }} <span class="badge pull-right" id="ur_{{ feed.guid() }}">{{ feed.unread_count2 }}</span></a></li>
            {% else %}
            <li {% if f == feed.guid() %}class="active"{% endif %}><a href="/?f={{ feed.guid() }}" rel="tooltip" data-original-title="{{ feed.name }}">{{ feed.truncated_name() }} <span class="badge pull-right" id="ur_{{ feed.guid() }}">{{ feed.unread_count2 }}</span></a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="maintable">
          {% block main %}{% endblock %}
        </div>
      </div>
    </div>
    {% block footer %}{% endblock %}
  </body>
</html>
