{% extends "shared/base.html" %}

{% block title %}BReader - Archived{% endblock %}

{% block script %}
<script>
var bookmark = "";
var more = false;

$(document).ready(function() {
  {% if f %}
  var f = "{{ f }}"
  {% else %}
  var f = null;
  {% endif %}
  BReader.bootstrap('archived', f);
});

function doNext(mobile){
  if(typeof(mobile)==='undefined') mobile = false;
  // fetch more stories if we only have 10 or less to show
  if(more == true){
    if(BReader.shouldFetchMoreStories()){
      $.ajax({
        {% if f %}
        url: "/archived?f={{ f }}&bookmark=" + bookmark,
        {% else %}
        url: "/archived?bookmark=" + bookmark,
        {% endif %}
        cache: false,
        dataType: 'json'
      }).done(function( json ) {
        bookmark = json.bookmark;
        more = json.more;
        BReader.appendResults(json.stories);
      });
    }
  }
  if(BReader.moveForward()){
    if(BReader.mode == 1){
      BReader.showResult(BReader.current_index);
    }
    BReader.jumpToStory('#a_' + BReader.currentStoryID(), mobile);
    $('.panel-info').removeClass('panel-info').removeClass('panel-default').addClass('panel-default')
    $('#s_' + BReader.currentStoryID()).removeClass('panel-default').addClass('panel-info');
  }
}

function doPrevious(mobile){
  if(typeof(mobile)==='undefined') mobile = false;
  if(BReader.moveBackward()){
    if(BReader.mode == 1){
      BReader.showResult(BReader.current_index);
    }
    BReader.jumpToStory('#a_' + BReader.currentStoryID(), mobile);
    $('.panel-info').removeClass('panel-info').removeClass('panel-default').addClass('panel-default')
    $('#s_' + BReader.currentStoryID()).removeClass('panel-default').addClass('panel-info');
  }
}

$(document).keypress(function(event) {
  // J for Next
  if(event.charCode == 106){
    doNext();
  // K for Previous
  } else if(event.charCode == 107){
    doPrevious();
  }
});
</script>
{% endblock %}
{% block main %}
<div class="mobile-only">
  <ul id="p" class="pager pager-buttons">
    <li class="previous" id="previous"><a href="#" class="bigger-button">&larr; K</a></li>
    <li class="next" id="next"><a href="#" class="bigger-button">J &rarr;</a></li>
  </ul>
</div>
{% endblock %}
