{% extends "shared/base.html" %}

{% block title %}BReader{% endblock %}

{% block script %}
<script>
var bookmark = "";
var all_stories = [];
var all_feed_ids = [];
var current_index = -1;
var more = false;

function appendResults(stories){
  for (var i=0; i<stories.length; i++){
    story = stories[i];
    all_stories.push(story.key.toString());
    all_feed_ids.push(story.feed_guid);
    html = BReader.render(story);
    $('#maintable').append(html);
  }
  // force all external links to open in new tab
  $("a[href^='http']").attr('target','_blank');
}

$(document).ready(function() {
  $.ajax({
    {% if f %}
    url: "/next?f={{ f }}",
    {% else %}
    url: "/next",
    {% endif %}
    cache: false,
    dataType: 'json'
  }).done(function( json ) {
    bookmark = json.bookmark;
    more = json.more;
    if(json.stories.length > 0){
      appendResults(json.stories);
    } else {
      $('#maintable').append('<div class="jumbotron"><div class="media"><img class="media-object pull-left" src="/static/wiggum.gif"><div class="media-body"><h1>Nothing to see here!</h1><p>Move along . . .</p></div></div></div>');
    }
  });

  $("#previous").bind( "click", function() {
    doPrevious(true);
  });
  $("#next").bind( "click", function() {
    doNext(true);
  });
  $("#star").bind( "click", function() {
    doStar();
  });
  $(function() {
    var x = $('#p');
    x.width(x.parent().width());
  });
});

function doNext(mobile){
  if(typeof(mobile)==='undefined') mobile = false;
  // fetch more stories if we only have 10 or less to show
  if(more == true){
    if((all_stories.length - current_index) < 10){
      $.ajax({
        {% if f %}
        url: "/next?f={{ f }}&bookmark=" + bookmark,
        {% else %}
        url: "/next?bookmark=" + bookmark,
        {% endif %}
        cache: false,
        dataType: 'json'
      }).done(function( json ) {
        bookmark = json.bookmark;
        more = json.more;
        appendResults(json.stories);
      });
    }
  }
  if(current_index < (all_stories.length - 1)){
    current_index += 1;
    if(mobile == true){
      $('html, body').animate({scrollTop: $('#a_' + all_stories[current_index]).offset().top}, 10);
    } else {
      document.location.replace("#a_" + all_stories[current_index]);
    }
    // only do something on nodes we haven't visited yet
    if($('#s_' + all_stories[current_index]).hasClass("panel-primary")){
      // do nothing
    } else {
      $.ajax({
        url: "/read?key=" + all_stories[current_index],
        cache: false,
        dataType: 'json'
      }).done(function( json ) {
        if(json.status == 'OK'){
          $('#s_' + json.key).removeClass('panel-default').addClass('panel-primary');
          c = parseInt($('#ur').text());
          $('#ur').text(c - 1);
          c = parseInt($('#ur_' + all_feed_ids[current_index]).text());
          $('#ur_' + all_feed_ids[current_index]).text(c - 1);
        }
      });
    }
  }
}

function doPrevious(mobile){
  if(typeof(mobile)==='undefined') mobile = false;
  if(current_index > 0){
    current_index -= 1;
    if(mobile == true){
      $('html, body').animate({scrollTop: $('#a_' + all_stories[current_index]).offset().top}, 10);
    } else {
      document.location.replace("#a_" + all_stories[current_index]);
    }
  }
}

function doStar(){
  if(current_index > -1){
    $.ajax({
      url: "/mark_star?key=" + all_stories[current_index],
      cache: false,
      dataType: 'json'
    }).done(function( json ) {
      $('#s_' + json.key).removeClass('panel-default').removeClass('panel-primary').addClass('panel-warning');
    });
  }
}

function doUnstar(){
  if(current_index > -1){
    $.ajax({
      url: "/unmark_star?key=" + all_stories[current_index],
      cache: false,
      dataType: 'json'
    }).done(function( json ) {
      $('#s_' + json.key).removeClass('panel-default').removeClass('panel-warning').addClass('panel-primary');
    });
  }
}

$(document).keypress(function(event) {
  // J for Next
  if(event.charCode == 106){
    doNext();
  // K for Previous
  } else if(event.charCode == 107){
    doPrevious();
  // S for Star
  } else if(event.charCode == 115){
    doStar();
  // U for UnStar
  } else if(event.charCode == 117){
    doUnstar();
  }
});
</script>
{% endblock %}
{% block main %}
<div class="mobile-only">
  <ul id="p" class="pager pager-buttons">
    <li class="previous" id="previous"><a href="#" class="bigger-button">&larr; K</a></li>
    <li id="star"><a href="#" class="bigger-button"><span class="glyphicon glyphicon-star"></span></a></li>
    <li class="next" id="next"><a href="#" class="bigger-button">J &rarr;</a></li>
  </ul>
</div>
{% endblock %}
