{% extends "shared/base.html" %}

{% block title %}BReader{% endblock %}

{% block script %}
<script>
var bookmark = "";
var more = false;

$(document).ready(function() {
  $.ajax({
    {% if f %}
    url: "/next?f={{ f }}",
    {% else %}
    url: "/next",
    {% endif %}
    cache: false,
    dataType: 'json'
  }).done(function( json ) {
    bookmark = json.bookmark;
    more = json.more;
    if(json.stories.length > 0){
      BReader.appendResults(json.stories);
    } else {
      $('#maintable').append(BReader.nothingAvailable);
    }
  });

  $("#previous").bind( "click", function() {
    doPrevious(true);
  });
  $("#next").bind( "click", function() {
    doNext(true);
  });
  $("#star").bind( "click", function() {
    doStar();
  });
  $(function() {
    var x = $('#p');
    x.width(x.parent().width());
  });
});

function doNext(mobile){
  if(typeof(mobile)==='undefined') mobile = false;
  // fetch more stories if we only have 10 or less to show
  if(more == true){
    if(BReader.shouldFetchMoreStories()){
      $.ajax({
        {% if f %}
        url: "/next?f={{ f }}&bookmark=" + bookmark,
        {% else %}
        url: "/next?bookmark=" + bookmark,
        {% endif %}
        cache: false,
        dataType: 'json'
      }).done(function( json ) {
        bookmark = json.bookmark;
        more = json.more;
        BReader.appendResults(json.stories);
      });
    }
  }
  if(BReader.moveForward()){
    BReader.jumpToStory('#a_' + BReader.currentStoryID(), mobile);
    // only do something on nodes we haven't visited yet
    if($('#s_' + BReader.currentStoryID()).hasClass("panel-primary")){
      // do nothing
    } else {
      $.ajax({
        url: "/read?key=" + BReader.currentStoryID(),
        cache: false,
        dataType: 'json'
      }).done(function( json ) {
        if(json.status == 'OK'){
          $('#s_' + json.key).removeClass('panel-default').addClass('panel-primary');
          c = parseInt($('#ur').text());
          $('#ur').text(c - 1);
          c = parseInt($('#ur_' + BReader.currentFeedID()).text());
          $('#ur_' + BReader.currentFeedID()).text(c - 1);
        }
      });
    }
  }
}

function doPrevious(mobile){
  if(typeof(mobile)==='undefined') mobile = false;
  if(BReader.moveBackward()){
    BReader.jumpToStory('#a_' + BReader.currentStoryID(), mobile);
  }
}

function doStar(){
  if(BReader.current_index > -1){
    $.ajax({
      url: "/mark_star?key=" + BReader.currentStoryID(),
      cache: false,
      dataType: 'json'
    }).done(function( json ) {
      $('#s_' + json.key).removeClass('panel-default').removeClass('panel-primary').addClass('panel-warning');
    });
  }
}

function doUnstar(){
  if(BReader.current_index > -1){
    $.ajax({
      url: "/unmark_star?key=" + BReader.currentStoryID(),
      cache: false,
      dataType: 'json'
    }).done(function( json ) {
      $('#s_' + json.key).removeClass('panel-default').removeClass('panel-warning').addClass('panel-primary');
    });
  }
}

$(document).keypress(function(event) {
  // J for Next
  if(event.charCode == 106){
    doNext();
  // K for Previous
  } else if(event.charCode == 107){
    doPrevious();
  // S for Star
  } else if(event.charCode == 115){
    doStar();
  // U for UnStar
  } else if(event.charCode == 117){
    doUnstar();
  }
});
</script>
{% endblock %}
{% block main %}
<div class="mobile-only">
  <ul id="p" class="pager pager-buttons">
    <li class="previous" id="previous"><a href="#" class="bigger-button">&larr; K</a></li>
    <li id="star"><a href="#" class="bigger-button"><span class="glyphicon glyphicon-star"></span></a></li>
    <li class="next" id="next"><a href="#" class="bigger-button">J &rarr;</a></li>
  </ul>
</div>
{% endblock %}
