{% extends "shared/base.html" %}

{% block title %}BReader - Starred{% endblock %}

{% block script %}
<script>
var bookmark = "";
var all_stories = [];
var all_feed_ids = [];
var current_index = -1;
var more = false;

var TemplateEngine = function(tpl, data) {
  var re = /<%([^%>]+)?%>/g;
  while(match = re.exec(tpl)) {
    tpl = tpl.replace(match[0], data[match[1]])
  }
  return tpl;
}

function appendResults(stories){
  for (var i=0; i<stories.length; i++){
    story = stories[i];
    all_stories.push(story.key.toString());
    all_feed_ids.push(story.feed_guid);
    template = '\
      <a name="a_<%guid%>" class="anchor"></a>\
      <div class="panel panel-warning" id="s_<%guid%>">\
        <div class="panel-heading">\
          <h3 class="panel-title" style="font-size:20px;margin-bottom:20px;"><a href="<%link%>"><%title%></a></h3>\
          <span class="pull-left" style="margin-top:-15px;"><a href="<%feed_url%>" style="color:inherit;"><%feed_name%></a></span>\
          <span class="pull-right" style="margin-top:-15px;"><%date%></span>\
        </div>\
        <div class="panel-body" style="overflow:auto;"><%content%></div>\
      </div>';
    html = TemplateEngine(template, {
      guid: story.key,
      title: story.title,
      link: story.link,
      content: story.description,
      feed_url: story.feed_url,
      feed_name: story.feed_name,
      date: story.pub_date,
    });
    $('#maintable').append(html);
  }
  // force all external links to open in new tab
  $("a[href^='http']").attr('target','_blank');
}

$(document).ready(function() {
  $.ajax({
    url: "/starred",
    cache: false,
    dataType: 'json'
  }).done(function( json ) {
    bookmark = json.bookmark;
    more = json.more;
    appendResults(json.stories);
  });
});

$(document).keypress(function(event) {
  // J for Next
  if(event.charCode == 106){
    // fetch more stories if we only have 10 or less to show
    if(more == true){
      if((all_stories.length - current_index) < 10){
        $.ajax({
          url: "/starred?bookmark=" + bookmark,
          cache: false,
          dataType: 'json'
        }).done(function( json ) {
          bookmark = json.bookmark;
          more = json.more;
          appendResults(json.stories);
        });
      }
    }
    if(current_index < (all_stories.length - 1)){
      current_index += 1;
      location.href = "#a_" + all_stories[current_index];
    }
  // K for Previous
  } else if(event.charCode == 107){
    if(current_index > 0){
      current_index -= 1;
      location.href = "#a_" + all_stories[current_index];
    }
  // S for Star
  } else if(event.charCode == 115){
    if(current_index > -1){
      $.ajax({
        url: "/mark_star?key=" + all_stories[current_index],
        cache: false,
        dataType: 'json'
      }).done(function( json ) {
        $('#s_' + json.key).removeClass('panel-default').removeClass('panel-primary').addClass('panel-warning');
      });
    }
  // U for UnStar
  } else if(event.charCode == 117){
    if(current_index > -1){
      $.ajax({
        url: "/unmark_star?key=" + all_stories[current_index],
        cache: false,
        dataType: 'json'
      }).done(function( json ) {
        $('#s_' + json.key).removeClass('panel-default').removeClass('panel-warning').addClass('panel-primary');
      });
    }
  }
});
</script>
{% endblock %}
