{% extends "shared/base.html" %}

{% block title %}BReader - Starred{% endblock %}

{% block script %}
<script>
var bookmark = "";
var more = false;

$(document).ready(function() {
  $.ajax({
    url: "/starred",
    cache: false,
    dataType: 'json'
  }).done(function( json ) {
    bookmark = json.bookmark;
    more = json.more;
    if(json.stories.length > 0){
      BReader.appendResults(json.stories);
    } else {
      $('#maintable').append(BReader.nothingAvailable);
    }
  });

  $("#previous").bind( "click", function() {
    doPrevious(true);
  });
  $("#next").bind( "click", function() {
    doNext(true);
  });
  $("#star").bind( "click", function() {
    doUnstar(true);
  });
  $(function() {
    var x = $('#p');
    x.width(x.parent().width());
  });
});

function setHighlight(){
  $('.panel-info').removeClass('panel-info').removeClass('panel-warning').addClass('panel-warning')
  $('#s_' + BReader.currentStoryID()).removeClass('panel-warning').addClass('panel-info');
}

function doNext(mobile){
  if(typeof(mobile)==='undefined') mobile = false;
  // fetch more stories if we only have 10 or less to show
  if(more == true){
    if(BReader.shouldFetchMoreStories()){
      $.ajax({
        url: "/starred?bookmark=" + bookmark,
        cache: false,
        dataType: 'json'
      }).done(function( json ) {
        bookmark = json.bookmark;
        more = json.more;
        BReader.appendResults(json.stories);
      });
    }
  }
  if(BReader.moveForward()){
    BReader.jumpToStory('#a_' + BReader.currentStoryID(), mobile);
    setHighlight();
  }
}

function doPrevious(mobile){
  if(typeof(mobile)==='undefined') mobile = false;
  if(BReader.moveBackward()){
    BReader.jumpToStory('#a_' + BReader.currentStoryID(), mobile);
    setHighlight();
  }
}

function doUnstar(mobile){
  if(typeof(mobile)==='undefined') mobile = false;
  if(BReader.current_index > -1){
    $.ajax({
      url: "/unmark_star?key=" + BReader.currentStoryID(),
      cache: false,
      dataType: 'json'
    }).done(function( json ) {
      $('#s_' + json.key).fadeOut( "slow", function() {
        $('#s_' + json.key).hide();
        BReader.removeStory();
        BReader.jumpToStory('#a_' + BReader.currentStoryID(), mobile);
        setHighlight();
      });
    });
  }
}

$(document).keypress(function(event) {
  // J for Next
  if(event.charCode == 106){
    doNext();
  // K for Previous
  } else if(event.charCode == 107){
    doPrevious();
  // U for UnStar
  } else if(event.charCode == 117){
    doUnstar();
  }
});
</script>
{% endblock %}
{% block main %}
<div class="mobile-only">
  <ul id="p" class="pager pager-buttons">
    <li class="previous" id="previous"><a href="#" class="bigger-button">&larr; K</a></li>
    <li id="star"><a href="#" class="bigger-button"><span class="glyphicon glyphicon-star"></span></a></li>
    <li class="next" id="next"><a href="#" class="bigger-button">J &rarr;</a></li>
  </ul>
</div>
{% endblock %}
